.container
  .jumbotron
    %center
      %h1.purple Hello, UnboxedConsulting!
      %p This is my solution of your Task Number 01
      %p Please insert your Github-Name here:
      = form_tag("https://api.github.com/users/", method: "get") do
        = label_tag(:name, "Search for:")
        = text_field_tag(:name)
        = submit_tag("Submit")
      %a.btn.btn-default{:href => "/horse"} Task Number 02
      %a.btn.btn-info{:href => '#intern'} Do you like it?

.container
  .jumbotron
    %p To be honest it tooks me a lot of my brainpower to get the GitHub-API task to work. Three hours passed some two hours ago and after a lot of research and trying I don't have a working solution, yet. So this is what I can provide you with. I don't want to give up but to be fair I couldn't make it within that time. But this is exactly why I want this internship. I want to learn how to solve this kind of tasks quickly and good.

    Anyways, this was a really cool task, I will go on implementing it and will find out which is the most often used programming language of someone on GitHub.

.container
  .row
    .col-md-3
      %h3.purple
        Intern Me!
      %p Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me!
      %a.btn.btn-default{:href => "http://aboutnina.herokuapp.com", target: "blank"} Read More
    .col-md-3
      %h3.purple
        Intern Me!
      %p Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me!
      %a.btn.btn-default{:href => "http://aboutnina.herokuapp.com", target: "blank"} Read More
    .col-md-3
      %h3.purple
        Intern Me!
      %p Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me!
      %a.btn.btn-default{:href => "http://aboutnina.herokuapp.com", target: "blank"} Read More
    .col-md-3
      %h3.purple
        Intern Me!
      %p Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me!
      %a.btn.btn-default{:href => "http://aboutnina.herokuapp.com", target: "blank"} Read More
#intern.section
.container
  .row
    .col-md-3
      %h3.purple
        Intern Me!
      %p Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me!
      %a.btn.btn-default{:href => "http://aboutnina.herokuapp.com", target: "blank"} Read More
    .col-md-3
      %h3.purple
        Intern Me!
      %p Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me!
      %a.btn.btn-default{:href => "http://aboutnina.herokuapp.com", target: "blank"} Read More
    .col-md-3
      %h3.purple
        Intern Me!
      %p Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me!
      %a.btn.btn-default{:href => "http://aboutnina.herokuapp.com", target: "blank"} Read More
    .col-md-3
      %h3.purple
        Intern Me!
      %p Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me! Intern Me!
      %a.btn.btn-default{:href => "http://aboutnina.herokuapp.com", target: "blank"} Read More