.jumbotron
  .row.grey
    .col-md-2
      .horse
        %img.img-rounded{:src => "horse.jpg"}/
    .col-md-8
      .content
        .heading
          horse_js
        .message
          as much as I want to be, I'm not
          %a.greenish{href: "http://www.horsejs.com/", target: "blank"} @horse_js
    .col-md-2
      .date
        7 days